<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<ul class="test-ul">
    <li id="1">
        <img src="./img/sentosa.jpg">
    </li>
    <li id="2">
        <img src="./img/sentosa2.jpg">
    </li>
</ul>
<div id="msg"></div>
</body>
</html>